<div class="container">
    <header id="header">
        <div class="navbar">
            <div class="logo">
                <a href="">TSTI</a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#service">Servicios</a></li>
                    <li><a href="#testimony">Testimonios</a></li>
                    <li><a href="#about">Nosotros</a></li>
                    <li><a href="#client">Clientes</a></li>
                </ul>
            </div>
            <div class="contact">
                <a href="#contact">Contacto</a>
            </div>
        </div>
    </header>
    <div class="presentation">
        <div class="card">
            <h1>El poder de la asesoria</h1>
            <div class="text-p">
                <p>
                    ¡Hola! Somos TSTI, tu socio estratégico en tecnología de la información. Nuestro equipo experto
                    ofrece soluciones personalizadas para optimizar tus sistemas, mejorar la eficiencia y potenciar tu
                    negocio. Desde
                    consultoría estratégica hasta desarrollo de software y soporte técnico, estamos aquí para impulsar
                    tu
                    éxito. ¡Déjanos
                    llevar tu empresa al siguiente nivel tecnológico!
                </p>
            </div>
            <div class="more-info">
                <a href="">Mas información</a>
            </div>
        </div>
        <div class="cloud-shape">
            <img src="/assets/img/tsti2.png" alt="Imagen" class="cloud-image">
        </div>
    </div>

    <section id="service">
        <div class="title-info">
            <p><span>Llevando tu negocio al siguiente nivel</span></p>
            <h2>Servicios</h2>
        </div>
        <div class="content">
            <a class="card-service" href="">
                <div id="icon"><i class="fas fa-building"></i></div>
                <div id="title">
                    <h3>Plan de negocios</h3>
                </div>
                <div id="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, provident!</p>
                </div>
            </a>
            <a class="card-service" href="">
                <div id="icon"><i class="fas fa-tools"></i></div>
                <div id="title">
                    <h3>Servicios contables</h3>
                </div>
                <div id="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, provident!</p>
                </div>
            </a>
            <a class="card-service" href="">
                <div id="icon"><i class="fas fa-chart-line"></i></div>
                <div id="title">
                    <h3>Optimización financiera</h3>
                </div>
                <div id="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, provident!</p>
                </div>
            </a>
        </div>
    </section>

    <div id="testimony"></div>
    <section class="testimony">
        <div class="image">
            <!-- <img src="/assets/img/persona.jpg" alt=""> -->
        </div>
        <div class="card-testimony">
            <h2>Testimonios</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, provident odio. Quam, laboriosam, at
                voluptates accusamus aliquid corrupti, fugiat ab asperiores porro voluptatibus voluptas nobis. Minus
                doloremque enim minima dolorum.
            </p>
            <div class="card-testimony-footer">
                <p><span>Alejandra Perez</span></p>
                <p><span>Nombre de la empresa</span></p>
            </div>
            <div class="selection">
                <span><i class="fa-regular fa-circle"></i></span>
                <span><i class="fa-regular fa-circle"></i></span>
                <span><i class="fa-solid fa-circle"></i></span>
            </div>
        </div>

    </section>

    <section id="about">
        <div class="linear-gradient"></div>
        <div class="card-about">
            <h2>Acerca de TSTI</h2>
            <h3>Nuestros expertos son los mejores</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus tempore delectus ducimus assumenda
                optio
                quis nihil, expedita praesentium dolore laudantium? Magni obcaecati modi ipsa, nulla nihil fuga natus
                quibusdam delectus excepturi possimus aut maxime sint, ullam numquam! Non, molestiae necessitatibus
                eveniet
                ea adipisci nulla doloremque! Illum consequatur, deleniti vero rerum sit nostrum maiores inventore
                similique
                repellendus earum ea, laudantium iste, officia non! Ratione quisquam repellat commodi ea ducimus,
                tenetur
                non ipsum veniam vitae obcaecati optio nemo fugit porro! Dignissimos recusandae consectetur repudiandae
                necessitatibus placeat eos. Numquam nesciunt velit veniam praesentium delectus. Labore nulla culpa
                aspernatur quaerat minus neque nam sit.</p>
        </div>
    </section>

    <section id="client">
        <div class="content-client">
            <div class="title-client">
                <h2>NUESTROS CLIENTES FELICES</h2>
            </div>
            <div class="bar-client">
                <div class="card-client"><span>HUMMER</span></div>
                <div class="card-client"><span>LG</span></div>
                <div class="card-client"><span>AMAZON</span></div>
                <div class="card-client"><span>GOOGLE</span></div>
                <div class="card-client"><span>SONY</span></div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="content-contact">
            <div id="info-contact-general">
                <div  class="info-contact">
                    <div>
                        <h2>Contacto</h2>
                    </div>
                    <div class="subttitle"><span>Trabajemos juntos</span></div>
                    <div id="contact-address">
                        <ul>
                            <li>SAN FRANCISCO NO. 503 101, DEL VALLE, 03100</li>
                            <li><span>{{correo}}</span></li>
                            <li><span>Tel: +52-33-12345678</span></li>
                        </ul>
                    </div>
                    <div id="icon-contact">
                        <ul>
                            <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
              
            </div>
            <div class="form-contact">
                <form action="">
                    <!-- Cambiar a flex -->
                    <div class="form-inputs">
                        <div class="form-input">
                            <label for="company">Nombre de la empresa*</label>
                            <input type="text" id="company" name="company">
                            <div class="mensaje-peligro"></div>
                        </div>
                        <div class="form-input">
                            <label for="position">Puesto / cargo*</label>
                            <input type="text" id="position" name="position">
                            <div class="mensaje-peligro"></div>
                        </div>

                        <div class="form-input">
                            <label for="name">Nombre*</label>
                            <input type="text" id="name" name="name">
                            <div class="mensaje-peligro"></div>
                        </div>

                        <div class="form-input">
                            <label for="lastname">Apellido*</label>
                            <input type="text" id="lastname" name="lastname">
                            <div class="mensaje-peligro"></div>
                        </div>

                        <div class="form-input">
                            <label for="email">Correo electronico</label>
                            <input type="email" id="email" name="email">
                            <div class="mensaje-peligro"></div>
                        </div>

                        <div class="form-input">
                            <label for="phone">Numero de telefono*</label>
                            <input type="tel" id="phone">
                            <div class="mensaje-peligro"></div>
                        </div>

                        <div id="text-area-messaje" class="form-input">
                            <label for="message">Mensaje*</label>
                            <textarea name="message" id="message" cols="30" rows="5" ></textarea>
                            <div class="mensaje-peligro"></div>
                        </div>

                        <div class="form-input">
                            <div id="checkbox-privacy">
                                <input type="checkbox" id="scales" name="scales"  />
                                <label for="scales">Acepto el <a href="">aviso de privacidad*</a></label>
                            </div>
                            <div id="message-checkbox" class="mensaje-peligro"></div>
                        </div>

                        <div class="form-input">
                            <button type="submit" class="btn-submit">Enviar Información</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div id="info-footer">
            <div>Dev. Julio Cesar Morales Sierra</div>
            <div class="copyright">TSTI 2024. Todos los derechos reservados ©</div>
            <div>Dev. Ismael García Hernández</div>
        </div>
    </footer>
</div>